@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeueCyr-Thin.otf");
  font-weight: 300; }

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeueCyr-Roman.otf");
  font-weight: 400; }

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeueCyr-Medium.otf");
  font-weight: 500; }

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeueCyr-Bold.otf");
  font-weight: 700; }

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeueCyr-Black.otf");
  font-weight: 800; }

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px; }

h1, h2, h3, p, a, span {
  font-family: "Helvetica", sans-serif; }

h1 {
  margin: 0;
  color: #4675a5;
  font-weight: 300;
  font-size: 3em; }

p {
  margin: 0;
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: 400; }

a {
  text-decoration: none; }

.header {
  width: 100%;
  position: absolute; }
  .header__content {
    padding: 0 5%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__content img {
      height: 80px;
      padding: 10px 0; }
    .header__content ul {
      list-style-type: none;
      margin: 0; }
      @media screen and (max-width: 860px) {
        .header__content ul {
          display: none; } }
    .header__content li {
      float: left;
      padding: 0 20px; }
    .header__content a {
      color: #4675a5;
      font-weight: 500;
      -webkit-transition: color 0.3s ease-in-out;
      -o-transition: color 0.3s ease-in-out;
      transition: color 0.3s ease-in-out; }
    .header__content a:hover {
      color: #f1b046; }
    .header__content a:after {
      display: block;
      content: "";
      height: 2px;
      width: 0%;
      background-color: #f1b046;
      -webkit-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
      margin-top: 5px; }
    .header__content a:hover:after, .header__content a:focus:after {
      width: 100%; }
    .header__content-bg {
      background-color: rgba(255, 255, 255, 0.97);
      position: fixed;
      width: 90%;
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .header__content-bg img {
        height: 50px; }

.dropdown {
  padding: 10px 5px;
  top: 63px;
  position: absolute;
  display: none;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff; }
  .dropdown li {
    float: none;
    padding: 5px; }

.dropdown__scroll {
  top: 48px; }

.header__content li:hover .dropdown {
  display: block; }

.main {
  background-image: url("../img/pattern.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .main__content {
    padding: 180px 5%;
    background-color: rgba(255, 255, 255, 0.3); }
    @media screen and (max-width: 500px) {
      .main__content {
        padding: 80px 5%; } }
    .main__content-description {
      width: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
      @media screen and (max-width: 970px) {
        .main__content-description {
          width: 70%; } }
      @media screen and (max-width: 500px) {
        .main__content-description {
          width: 100%; } }
      .main__content-description h1 {
        font-weight: 700;
        margin: 3rem 0; }
      .main__content-description p {
        color: #5b5d5c;
        margin-bottom: 3rem; }
      .main__content-description a {
        padding: 1rem 2rem;
        background-color: #4675a5;
        color: #ffffff;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        font-size: 1.2em;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .main__content-description a:hover {
        -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.products {
  background-image: url("../img/pattern.png");
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9); }
  .products__content {
    padding: 130px 5%;
    background-color: rgba(255, 255, 255, 0.95); }
    .products__content h1 {
      text-align: center;
      margin-bottom: 50px; }
    .products__content span {
      font-weight: 700; }
    @media screen and (max-width: 500px) {
      .products__content {
        padding: 80px 5%; } }
  .products__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .products__list-item {
      width: 30%;
      text-align: center;
      margin: 30px 0; }
      .products__list-item h2 {
        color: #4675a5;
        font-weight: 500;
        font-size: 1.5em;
        padding: 5px 10px; }
      .products__list-item p {
        padding: 5px 10px;
        font-size: 1em;
        color: #5b5d5c; }
      @media screen and (max-width: 900px) {
        .products__list-item {
          width: 50%; } }
      @media screen and (max-width: 600px) {
        .products__list-item {
          width: 100%; } }

.management__content {
  padding: 100px 5%;
  background-color: #f5f9fb; }
  .management__content h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #4675a5; }
  .management__content p {
    width: 90%;
    padding: 0 5%;
    text-align: center;
    color: #5b5d5c;
    font-weight: 400;
    font-size: 1.3em; }

.management__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 80px; }
  .management__list-item {
    width: 50%;
    margin-bottom: 50px; }
    .management__list-item h2 {
      margin: 0;
      color: #4675a5;
      font-size: 1.5em;
      font-weight: 500; }
    .management__list-item h3 {
      margin: 10px 0;
      font-weight: 400;
      color: #f1b046; }
    .management__list-item p {
      text-align: left;
      color: #5b5d5c;
      padding: 0;
      width: 90%;
      font-size: 1em; }
    @media screen and (max-width: 500px) {
      .management__list-item {
        width: 100%; } }

.projects {
  background-image: url("../img/pattern.png");
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9); }
  .projects__content {
    padding: 100px 5%;
    background-color: rgba(70, 117, 165, 0.97); }
    .projects__content h1 {
      color: #ffffff;
      text-align: center;
      margin-bottom: 50px; }
  .projects__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .projects__list-item {
      width: 45%;
      padding: 20px;
      margin-bottom: 5%;
      background-color: #ffffff;
      border-bottom: 4px solid #f1b046;
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      -webkit-transition: -webkit-box-shadow 0.3s;
      transition: -webkit-box-shadow 0.3s;
      -o-transition: box-shadow 0.3s;
      transition: box-shadow 0.3s;
      transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
      .projects__list-item h2 {
        margin-top: 0;
        color: #4675a5;
        font-weight: 700; }
      .projects__list-item p {
        font-weight: 400; }
      @media screen and (max-width: 980px) {
        .projects__list-item {
          width: 100%; } }
    .projects__list-item:hover {
      -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
              box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.investor {
  background-image: url("../img/investor.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }
  .investor__content {
    background-color: rgba(255, 255, 255, 0.96);
    width: 40%;
    padding: 80px 5%; }
    .investor__content h1 {
      padding-top: 100px;
      text-align: center;
      color: #4675a5;
      font-weight: 700;
      padding-bottom: 50px; }
    .investor__content span {
      font-weight: 300; }
    @media screen and (max-width: 850px) {
      .investor__content {
        width: 90%;
        padding: 0 5%;
        background-color: rgba(255, 255, 255, 0.95); } }
    .investor__content-item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding-bottom: 100px; }
      .investor__content-item a {
        width: 45%;
        text-align: center;
        padding: 1rem 0;
        margin: 20px 0;
        background-color: transparent;
        border: 2px solid #4675a5;
        color: #4675a5;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        font-size: 1.2em;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .investor__content-item a:hover {
        background-color: #4675a5;
        color: #ffffff;
        border-color: #4675a5;
        -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
      @media screen and (max-width: 850px) {
        .investor__content-item a {
          width: 40%; } }
      @media screen and (max-width: 500px) {
        .investor__content-item a {
          width: 100%; } }

.hire {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 5%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }
  .hire h2 {
    color: #5b5d5c;
    font-weight: 500;
    font-size: 1.2em;
    padding: 1rem 2rem;
    text-align: center;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border: 2px solid #5b5d5c; }

.contact {
  padding: 100px 5% 50px 5%; }
  .contact__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    .contact__content img {
      width: 50%;
      margin-bottom: 40px; }
    .contact__content h2 {
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 5px;
      color: #5b5d5c;
      font-size: 1.7em; }
    .contact__content h3 {
      margin-top: 0;
      margin-bottom: 40px;
      font-weight: 300;
      color: #5b5d5c;
      font-size: 1.5em; }
    .contact__content a {
      color: #5b5d5c; }
    @media screen and (max-width: 500px) {
      .contact__content img {
        width: 100%; } }

#terms {
  color: #4675a5;
  margin-top: 20px; }

.soon {
  width: 100%;
  height: 100vh;
  background-image: url("../img/pattern.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .soon__content {
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .soon__content img {
      width: 30%;
      margin-bottom: 40px; }
    .soon__content h1 {
      font-weight: 700;
      margin-bottom: 10px; }
    .soon__content p {
      color: #5b5d5c;
      margin-bottom: 3rem; }
    .soon__content a {
      color: #4675a5; }
