@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeueCyr-Thin.otf");
  font-weight: 300; }

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeueCyr-Roman.otf");
  font-weight: 400; }

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeueCyr-Medium.otf");
  font-weight: 500; }

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeueCyr-Bold.otf");
  font-weight: 700; }

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeueCyr-Black.otf");
  font-weight: 800; }

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px; }

h1, h2, h3, p, a, span {
  font-family: "Helvetica", sans-serif; }

h1 {
  margin: 0;
  color: #4675a5;
  font-weight: 300;
  font-size: 3em; }

p {
  margin: 0;
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: 400; }

a {
  text-decoration: none; }

.header {
  width: 100%;
  position: absolute; }
  .header__content {
    padding: 0 10%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__content img {
      height: 80px;
      padding: 30px 0; }
    .header__content ul {
      list-style-type: none;
      margin: 0; }
      @media screen and (max-width: 860px) {
        .header__content ul {
          display: none; } }
    .header__content li {
      float: left;
      padding: 0 20px; }
    .header__content a {
      color: #4675a5;
      font-weight: 500;
      -webkit-transition: color 0.3s ease-in-out;
      -o-transition: color 0.3s ease-in-out;
      transition: color 0.3s ease-in-out; }
    .header__content a:hover {
      color: #ffa00b; }
    .header__content a:after {
      display: block;
      content: "";
      height: 2px;
      width: 0%;
      background-color: #ffa00b;
      -webkit-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
      margin-top: 5px; }
    .header__content a:hover:after, .header__content a:focus:after {
      width: 100%; }
    .header__content-bg {
      background-color: rgba(255, 255, 255, 0.97);
      position: fixed;
      padding: 0 5%;
      z-index: 1;
      width: 90%;
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .header__content-bg img {
        padding: 10px 0;
        height: 50px; }

.dropdown {
  padding: 10px 5px;
  top: 83px;
  position: absolute;
  display: none;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff; }
  .dropdown li {
    float: none;
    padding: 5px; }

.dropdown__scroll {
  top: 48px; }

.header__content li:hover .dropdown {
  display: block; }

.main {
  background-image: url("../img/pattern.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .main__content {
    padding: 250px 10%;
    background-color: rgba(255, 255, 255, 0.7); }
    @media screen and (max-width: 500px) {
      .main__content {
        padding: 20px 5%; } }
    .main__content-description {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .main__content-description h1 {
        font-weight: 700;
        margin: 0; }
      .main__content-description p {
        width: 50%;
        color: #000000;
        margin: 30px 0; }
      .main__content-description a {
        padding: 1rem 5rem;
        font-size: 1.2em;
        font-weight: 500;
        border: 2px solid #4675a5;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        background-color: #4675a5;
        color: #ffffff;
        -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .main__content-description a:hover {
        background-color: transparent;
        color: #4675a5; }

.products {
  background-image: url("../img/pattern.png");
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9); }
  .products__content {
    padding: 130px 5%;
    background-color: rgba(255, 255, 255, 0.95); }
    .products__content h1 {
      text-align: center;
      margin-bottom: 50px; }
    .products__content span {
      font-weight: 700; }
    @media screen and (max-width: 500px) {
      .products__content {
        padding: 80px 5%; } }
  .products__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    .products__list-item {
      width: 400px;
      text-align: center;
      margin: 30px;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .products__list-item img {
        background-color: #4675a5;
        width: 60px;
        height: 60px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        padding: 20px;
        margin-top: 30px; }
      .products__list-item h2 {
        color: #4675a5;
        font-weight: 700;
        font-size: 1.5em;
        padding: 0 20px; }
      .products__list-item p {
        padding: 5px 10px;
        font-size: 1em;
        color: #ffa00b;
        margin-bottom: 30px; }
    .products__list-item:hover {
      -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
              box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
      -webkit-transform: translateY(-2px);
          -ms-transform: translateY(-2px);
              transform: translateY(-2px); }
      @media screen and (max-width: 900px) {
        .products__list-item:hover {
          width: 50%; } }
      @media screen and (max-width: 600px) {
        .products__list-item:hover {
          width: 100%; } }

.management {
  background-image: url("../img/aboutBg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .management__content {
    width: 90%;
    padding: 100px 5% 50px 5%;
    background-color: rgba(70, 117, 165, 0.96); }
    .management__content h1 {
      text-align: center;
      margin-bottom: 20px;
      font-weight: 700;
      color: #ffffff; }
    .management__content p {
      width: 90%;
      padding: 0 5%;
      text-align: center;
      color: #f7f7f9;
      font-weight: 300;
      font-size: 1.3em; }
  .management__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px; }
    .management__list-item {
      width: 40%;
      margin-bottom: 50px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 20px 0; }
      .management__list-item img {
        width: 60px;
        height: 60px;
        padding: 20px;
        background-color: #ffa00b;
        border: 3px solid #ffa00b;
        -webkit-border-radius: 50%;
                border-radius: 50%; }
      .management__list-item h2 {
        text-align: center;
        color: #ffffff;
        font-size: 1.5em;
        padding: 20px 0;
        margin: 0; }
      .management__list-item p {
        font-weight: 300;
        color: #f7f7f9;
        margin-bottom: 20px; }
      .management__list-item a {
        background-color: transparent;
        border: 3px solid #ffa00b;
        color: #ffffff;
        font-size: 1.2em;
        padding: 1rem 5rem;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
      .management__list-item a:hover {
        background-color: #ffa00b; }
      @media screen and (max-width: 500px) {
        .management__list-item {
          width: 100%; } }

.projects {
  background-image: url("../img/pattern.png");
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9); }
  .projects__content {
    padding: 100px 5%;
    background-color: rgba(247, 247, 249, 0.97); }
    .projects__content h1 {
      color: #4675a5;
      font-weight: 700;
      text-align: center;
      margin-bottom: 50px; }
  .projects__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .projects__list-item {
      width: 45%;
      padding: 20px;
      margin-bottom: 5%;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .projects__list-item h2 {
        margin-top: 0;
        color: #4675a5;
        font-weight: 500;
        text-align: center; }
      .projects__list-item p {
        font-weight: 400;
        text-align: center;
        font-size: 0.9em; }
      .projects__list-item i {
        color: #ffffff;
        background-color: #ffa00b;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        text-align: center;
        font-size: 2em;
        width: 2em;
        line-height: 2em;
        margin-bottom: 20px; }
      @media screen and (max-width: 980px) {
        .projects__list-item {
          width: 100%; } }
    .projects__list-item:hover {
      border-bottom: 3px solid #ffa00b;
      -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
              box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
      -webkit-transform: translateY(-3px);
          -ms-transform: translateY(-3px);
              transform: translateY(-3px); }

.investor {
  background-image: url("../img/investor.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }
  .investor__content {
    background-color: rgba(255, 255, 255, 0.96);
    width: 40%;
    padding: 80px 5%; }
    .investor__content h1 {
      padding-top: 100px;
      text-align: center;
      color: #4675a5;
      font-weight: 700;
      padding-bottom: 50px; }
    .investor__content span {
      font-weight: 300; }
    @media screen and (max-width: 850px) {
      .investor__content {
        width: 90%;
        padding: 0 5%;
        background-color: rgba(255, 255, 255, 0.95); } }
    .investor__content-item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding-bottom: 100px; }
      .investor__content-item a {
        width: 45%;
        text-align: center;
        padding: 1rem 0;
        margin: 20px 0;
        background-color: transparent;
        border: 2px solid #4675a5;
        color: #4675a5;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        font-size: 1.2em;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .investor__content-item a:hover {
        background-color: #4675a5;
        color: #ffffff;
        border-color: #4675a5;
        -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
      @media screen and (max-width: 850px) {
        .investor__content-item a {
          width: 40%; } }
      @media screen and (max-width: 500px) {
        .investor__content-item a {
          width: 100%; } }

.hire {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 5%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }
  .hire h2 {
    color: #f7f7f9;
    font-weight: 500;
    font-size: 1.2em;
    padding: 1rem 2rem;
    text-align: center;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border: 2px solid #f7f7f9; }

.contact {
  padding: 100px 5% 50px 5%; }
  .contact__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    .contact__content img {
      width: 50%;
      margin-bottom: 40px; }
    .contact__content h2 {
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 5px;
      color: #f7f7f9;
      font-size: 1.7em; }
    .contact__content h3 {
      margin-top: 0;
      margin-bottom: 40px;
      font-weight: 300;
      color: #f7f7f9;
      font-size: 1.5em; }
    .contact__content a {
      color: #f7f7f9; }
    @media screen and (max-width: 500px) {
      .contact__content img {
        width: 100%; } }

#terms {
  color: #4675a5;
  margin-top: 20px; }

.soon {
  width: 100%;
  height: 100vh;
  background-image: url("../img/pattern.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .soon__content {
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .soon__content img {
      width: 30%;
      margin-bottom: 40px; }
    .soon__content h1 {
      font-weight: 700;
      margin-bottom: 10px; }
    .soon__content p {
      color: #f7f7f9;
      margin-bottom: 3rem; }
    .soon__content a {
      color: #4675a5; }

#thecompany {
  padding-top: 200px; }

.aboutPage__about h1 {
  pading-top: 80px;
  text-align: center; }

.aboutPage__about p {
  text-align: center;
  color: #9b9b9b;
  margin-bottom: 50px; }

.aboutPage__about-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 5%; }

.aboutPage__about-item {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .aboutPage__about-item img {
    width: 80%;
    margin: 0 10%; }
  .aboutPage__about-item p {
    color: #9b9b9b; }

.aboutPage__team {
  text-align: center;
  padding: 0 5%; }
  .aboutPage__team h1 {
    margin-top: 80px; }
  .aboutPage__team p {
    color: #9b9b9b;
    margin-bottom: 50px; }

.aboutPage__team-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5%; }

::-webkit-scrollbar {
  width: 0px;
  background: transparent; }

.container {
  text-align: center;
  width: 320px;
  margin: 20px auto;
  -webkit-perspective: 1200;
  perspective: 1200;
  -moz-transform: perspective(1200px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.flipper {
  position: relative;
  width: 320px;
  height: 280px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: .7s linear;
  -o-transition: .7s linear;
  transition: .7s linear; }

.front, .back {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 20px 20px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background: #ffffff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #f5f5f5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

h3 {
  font-size: 1.3em;
  line-height: 1em;
  text-transform: uppercase;
  margin: 0 0 15px; }

p {
  font-size: 1em;
  line-height: 1.5em; }

.header__about h3 {
  color: #4675a5; }

.front p {
  color: #ffa00b; }

.back {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  background: #4675a5;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  overflow: auto;
  padding-right: 20px;
  color: white; }
  .back h3 {
    position: relative; }
    .back h3:after {
      content: "";
      width: 50px;
      height: 1px;
      position: absolute;
      bottom: -10px;
      left: 50%;
      background: #ffa00b;
      margin-left: -25px; }
  .back p {
    padding-top: 15px;
    color: #ffffff; }

.container:hover .flipper {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg); }
