.contact
    padding: 100px 5% 50px 5%

    &__content
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        justify-content: center
        align-items: center
        text-align: center

        img
            width: 50%
            margin-bottom: 40px

        h2
            font-weight: 500
            margin-top: 0
            margin-bottom: 5px
            color: $grayColor
            font-size: 1.7em

        h3
            margin-top: 0
            margin-bottom: 40px
            font-weight: 300
            color: $grayColor
            font-size: 1.5em

        a
            color: $grayColor

        @media screen and (max-width: 500px)
            img
                width: 100%
                

#terms
    color: $blueColor
    margin-top: 20px